.activities {
  margin-top: 30px;
}

.section-title {
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 18px;
}

/* ================= DESKTOP ================= */
.activity-row {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.activity-item {
  flex: 1;
  background: rgba(0,0,0,0.45);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.activity-item img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.activity-item p {
  margin-top: 10px;
  font-weight: 800;
  color: #fff;
}

/* ================= CAROUSEL ================= */
.carousel {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-wrapper{
  touch-action: pan-y; 
  user-select: none;
  -webkit-user-select: none;
}

.carousel-card img{
  user-drag: none;
  -webkit-user-drag: none;
  pointer-events: none; 
}

.carousel-card {
  position: absolute;
  width: 70%;
  max-width: 320px;
  height: 250px;
  background: rgba(0,0,0,0.65);
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.carousel-card p {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
}

/* центральная */
.carousel-card.active {
  transform: scale(1) translateZ(0);
  z-index: 3;
  opacity: 1;
}

/* боковые */
.carousel-card.side {
  transform: scale(0.75) translateX(200px);
  opacity: 0.6;
  z-index: 2;
}

/* скрытые */
.carousel-card.hidden {
  opacity: 0;
  z-index: 1;
}

/* стрелки */
.nav {
  display: flex;
    justify-content: center;
    align-items: center;
  position: absolute;
  top: 40%;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.nav.left { left: 10px; }
.nav.right { right: 10px; }

/* ================= BREAKPOINT ================= */
@media (max-width: 990px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
@media  (max-width: 400px){
  .carousel-card{
    width: 20rem;
  }
  
}
